.box{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 52px;
    background-color: #31394a;
}
.head .head_left .logo{
    width: 50px;
    height: 52px;
}
.head .head_left{
    width: 70%;
    height: 52px;
}
.head .head_left div{
    float: left;
}
.head .head_left .ul_one{
    height: 52px;
    width: 1170px;
}
.head .head_left .ul_one li{
    height: 52px;
    float: left;
    font-size: 16px;
    line-height: 52px;
    font-weight: 100;
    outline: none medium;
    margin-left: 28px;
}
.head .head_left ul li a{
    color: #eee;    
}
.footer{
    width: 100%;
    height: 28px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
}
.head div{
    float: left;
}
.head .head_right{
    float: right;
    width: 30%;
    height: 52px;
}


