.contain{
    width:100%;
    height:100%;
    position: relative;
    /* top:119px; */
}
.contain .biao{
    width:100%;
    height:850px;
    float:right;
    /* background-color:#fff; */
    border-left:1px solid #9197a3;
}
.contain .biao #dj{
    width:10px;
    height:40px;
    background-color:#9197a3;
    /*position: fixed;*/
    top:50%;
}
 .contain .biao .dj i{
    position: absolute;
    top:18px;
    left:4px;
    display:inline-block;
    width:4px;
    height:4px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    transform:rotate(135deg);
}
.contain .biao .table{
    width:100%;
    /* height:770px; */
    background-color:#fff;
}
.contain .biao .table table{
    width:100%;
    /* height:770px; */
    display:block;
    position: relative;
}
.contain .biao .table table thead{
    display: block;
    width:100%;
    height:42px;
    /*position: fixed;*/
    top:119px;
    border-bottom:3px double #9197a3;
    background-color:#fff;
    z-index:92;
    border-left:1px solid #9197a3;
}
.contain .biao .table table thead tr{
    display:block;
    width:100%;
    height:42px;
    display:flex;
    justify-content: space-evenly;
}
.contain .biao .table table thead tr td{
    display:block;
    float:left;
    height:40px;
    padding:0 10px;
}
.contain .biao .table table thead tr td a{
    font-size:14px;
    color:#888;
    line-height:40px;
}
/*.contain .biao .table table thead tr td:nth-child(1){
    width:3%;
}*/
 .contain .biao .table table thead tr td:nth-child(1) i{
    display: block;
    width:21px;
    height:17px;
    background:url(../image/icon05.png);
    background-position:-7px -3px;
    margin-top:11px;
}
/*.contain .biao .table table thead tr td:nth-child(2){
    width:3%;
}
 .contain .biao .table table thead tr td:nth-child(3){
    width:7%;
}
 .contain .biao .table table thead tr td:nth-child(4){
    width:4%;
}
 .contain .biao .table table thead tr td:nth-child(5){
    width:7%;
}
 .contain .biao .table table thead tr td:nth-child(6){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(7){
    width:3%;
}
.contain .biao .table table thead tr td:nth-child(8){
    width:3%;
}
.contain .biao .table table thead tr td:nth-child(9){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(10){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(11){
    width:7%;
}*/
.contain .biao .table table tbody{
    display: block;
    width:100%;
    height:725px;
    position: relative;
    /* top:165px; */
    overflow:scroll;
}
.contain .biao .table table tbody tr{
    display:block;
    width:100%;
    height:41px;
    border-bottom:1px solid #9197a3;
    display:flex;
    justify-content: space-evenly;
}
.contain .biao .table table tbody tr td{
    display:block;
    float:left;
    height:40px;
    padding:0 10px;
    overflow:hidden;
}
.contain .biao .table table tbody tr td a{
    font-size:15px;
    color:#000;
    line-height:40px;
}
 .contain .biao .shu{
    width:100%;
    height:50px;
    /* background-color:blue; */
    /*position: fixed;*/
    bottom: 28px;
    border-left:1px solid #9197a3;
}
/*.contain .biao .table table tbody tr td:nth-child(1){
    width:5%;
}
.contain .biao .table table tbody tr td:nth-child(2){
    width:3%;
}
 .contain .biao .table table tbody tr td:nth-child(3){
    width:7%;
}
.contain .biao .table table tbody tr td:nth-child(4){
    width:4%;
}
 .contain .biao .table table tbody tr td:nth-child(5){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(6){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(7){
    width:3%;
}
.contain .biao .table table tbody tr td:nth-child(8){
    width:3%;
}
.contain .biao .table table tbody tr td:nth-child(9){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(10){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(11){
    width:7%;
}*/
 .contain .biao .shu .tongji{
    float:left;
    width:100px;
    height:100%;
    text-indent: 15px;
}
 .contain .biao .shu .tongji span{
    font-size:15px;
    font-weight:500;
    line-height: 50px;
}
 .contain .biao .shu .fanye{
    float:right;
    width:300px;
    height:100%;
    margin-right:100px;
}
.contain .biao .shu .fanye .fan{
    width:123px;
    height:100%;
}
.contain .biao .shu .fanye .fan select#ye{
    width:120px;
    height:30px;
} 
.contain{
    width:100%;
    height:100%;
    position: relative;
    /* top:119px; */
}
 .contain .option{
    display: block;
    width:15%;
    height:850px;
    float:left;
    overflow:hidden;
    position: absolute;
    background-color:#fff;
    border-right:1px solid #9197a3;
}
.contain .option .top{
    width:15%;
    height:50px;
    /*position: fixed;*/
    top:119px;
    background-color:#fff;
    z-index:92;
}
.contain .option .top input{
    width:200px;
    height:40px;
    border:none;
    outline-style: none;
    color:#888;
    font-size:15px;
    text-indent: 10px;
    position: absolute;
    top:4px;
    /* display:none; */
}
 .contain .option .top input#dian{
    width:200px;
    height:30px;
    border-bottom:1px solid #888;
    display:block;
    position:absolute;
    left:15px;
    padding-left:10px;
    font-style: italic;
    display:none;
}
.contain .option .top input#dian:hover{
    border-bottom:1px solid blue;
}
.contain .option .top span{
    display: block;
    width:15px;
    height:15px;
    position: absolute;
    top:15px;
    right:15px;
    background:url(../image/icon06.png);
    background-position:0 0;
    /* display:none; */
}
.contain .option .top i{
    display: block;
    width:15px;
    height:15px;
    position:absolute;
    top:15px;
    left:15px;
    background:url(../image/icon06.png);
    background-position:0 0;
    display:none;
}
.contain .option .lv{
    width:100%;
    height:745px;
    overflow:scroll;
    text-indent: 15px;
    position: relative;
    /* top:169px; */
}
.contain .option .lv ul{
    display: block;
    width:100%;
}
.contain .option .lv ul li{
    display:block;
    width:100%;
    height:30px;
}
.contain .option .lv ul li a{
    color:#000;
    font-size:15px;
}
.contain .option .bottom{
    width:15%;
    height:50px;
    /*position: fixed;*/
    bottom:28px;
    background-color:#fff;
} */
.contain .biao{
    width:85%;
    height:850px;
    float:right;
    /* background-color:#fff; */
    border-left:1px solid #9197a3;
}
.contain .biao #dj{
    width:10px;
    height:40px;
    background-color:#9197a3;
    position: fixed;
    top:50%;
}
.contain .biao .dj i{
    position: absolute;
    top:18px;
    left:4px;
    display:inline-block;
    width:4px;
    height:4px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    transform:rotate(135deg);
}
.contain .biao .table{
    width:100%;
    /* height:770px; */
    background-color:#fff;
}
 .contain .biao .table table{
    width:100%;
    /* height:770px; */
    display:block;
    /*position: relative;*/
}
 .contain .biao .table table thead{
    display: block;
    width:100%;
    height:42px;
    /*position: fixed;*/
    top:119px;
    border-bottom:3px double #9197a3;
    background-color:#fff;
    z-index:92;
    border-left:1px solid #9197a3;
}
.contain .biao .table table thead tr{
    display:block;
    width:100%;
    height:42px;
    display:flex;
    justify-content: space-evenly;
}
.contain .biao .table table thead tr td{
    display:block;
    float:left;
    height:40px;
    padding:0 10px;
}
.contain .biao .table table thead tr td a{
    font-size:14px;
    color:#888;
    line-height:40px;
}
/*.contain .biao .table table thead tr td:nth-child(1){
    width:3%;
}*/
 .contain .biao .table table thead tr td:nth-child(1) i{
    display: block;
    width:21px;
    height:17px;
    background:url(../image/icon05.png);
    background-position:-7px -3px;
    margin-top:11px;
}
 .contain .biao .table table thead tr td:nth-child(2){
    width:3%;
}
/* .contain .biao .table table thead tr td:nth-child(3){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(4){
    width:4%;
}
.contain .biao .table table thead tr td:nth-child(5){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(6){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(7){
    width:3%;
}
.contain .biao .table table thead tr td:nth-child(8){
    width:3%;
}
.contain .biao .table table thead tr td:nth-child(9){
    width:7%;
}
.contain .biao .table table thead tr td:nth-child(10){
    width:7%;
}
 .contain .biao .table table thead tr td:nth-child(11){
    width:7%;
} */
 .contain .biao .table table tbody{
    display: block;
    width:100%;
    height:725px;
    /*position: relative;*/
    /* top:165px; */
    overflow:scroll;
}
.contain .biao .table table tbody tr{
    display:block;
    width:100%;
    height:41px;
    border-bottom:1px solid #9197a3;
    display:flex;
    justify-content: space-evenly;
}
.contain .biao .table table tbody tr td{
    display:block;
    float:left;
    height:40px;
    padding:0 10px;
    overflow:hidden;
}
.contain .biao .table table tbody tr td a{
    font-size:15px;
    color:#000;
    line-height:40px;
}
.contain .biao .shu{
    width:100%;
    height:50px;
    /* background-color:blue; */
    /*position: fixed;*/
    bottom: 28px;
    border-left:1px solid #9197a3;
}
/*.contain .biao .table table tbody tr td:nth-child(1){
    width:5%;
}
.contain .biao .table table tbody tr td:nth-child(2){
    width:3%;
}
 .contain .biao .table table tbody tr td:nth-child(3){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(4){
    width:4%;
}
 .contain .biao .table table tbody tr td:nth-child(5){
    width:7%;
}
.contain .biao .table table tbody tr td:nth-child(6){
    width:7%;
}
.contain .biao .table table tbody tr td:nth-child(7){
    width:3%;
}
 .contain .biao .table table tbody tr td:nth-child(8){
    width:3%;
}
 .contain .biao .table table tbody tr td:nth-child(9){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(10){
    width:7%;
}
 .contain .biao .table table tbody tr td:nth-child(11){
    width:7%;
}*/
 .contain .biao .shu .tongji{
    float:left;
    width:100px;
    height:100%;
    text-indent: 15px;
}
 .contain .biao .shu .tongji span{
    font-size:15px;
    font-weight:500;
    line-height: 50px;
}
 .contain .biao .shu .fanye{
    float:right;
    width:300px;
    height:100%;
    margin-right:100px;
}
 .contain .biao .shu .fanye .fan{
    width:123px;
    height:100%;
}
.contain .biao .shu .fanye .fan select#ye{
    width:120px;
    height:30px;
}