<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/norlize.css">
    <link rel="stylesheet" href="css/resert.css">
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css">
    <link rel="stylesheet" type="text/css" href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui-append.min.css">
</head>

<body>
    <div class="box" id="box">
        <!-- 头部开始 -->
        <div class="head">
            <div class="head_left">
                <ul class="ul_one">
                    <li class="li-one">
                        <i id="l6"></i>
                        <ul id="ul_two" style="display: none;">
                            <div class="sz_one">

                            </div>
                            <li class="l4">页签组</li>
                            <li class="l5"> √所有标签</li>
                            <li>
                                <a href="javascript:;">创建</a>
                                <a href="javascript:;">管理</a>
                            </li>
                        </ul>
                    </li>
                    <li id="l1">
                            <a href="index.html" id="a1">主页 </a>
                        </li>
                        <li id="l2">
                            <a href="线索.html" id="a2">线索 </a>
                        </li>
                        <li id="l3">
                            <a href="myindex3.html" id="a3">联系人 </a>
                        </li>
                        <li>
                            <a href="muindex4.html" id="a4">客户 </a>
                        </li>
                        <li>
                            <a href="myindex5.html" id="a5">交易</a>
                        </li>
                        <li>
                            <a href="myindex1.html" id="a6">任务、通话及活动 </a>
                        </li>
                        <li>
                            <a href="report.html" id="a7">报表</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="a8">数据深度分析</a>
                        </li>
                        <li>
                            <a href="begin(产品).html" id="a9">产品</a>
                        </li>
                        <li>
                            <a href="begin(报价).html" id="a13">报价</a>
                        </li>
                        <li>
                            <a href="begin(销售订单).html" id="a10">销售订单</a>
                        </li>
                        <li>
                            <a href="begin(采购订单).html" id="a11">采购订单</a>
                        </li>
                        <li>
                            <a href="begin(发货单).html" id="a12">发货单</a>
                        </li>
                    <li class="li-two">
                        <i></i>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="head_right">
                <ul class="right_head">
                    <li class="l1" style="display: block" id="l1">
                        <span>试用-旗舰版</span>
                        <br>
                        <span style="margin-left: 44px;">
                            <a href="">升级</a>
                        </span>
                    </li>
                    <li>
                        <div class="sx"></div>
                    </li>
                    <li>
                        <div class="search">
                            <img src="image/1.jpg" alt="" id="ss">
                            <div id="btn">
                                <span class="span1">

                                </span>
                                <input type="text" placeholder="搜索" class="btn">
                                <span class="span2" id="span2">

                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="nl">
                            <img src="image/2.jpg" alt="">
                            <!-- <div class="tk">

                            </div> -->
                        </div>
                    </li>
                    <li>
                        <div class="lx">
                            <img src="image/3.jpg" alt="" id="img_one">
                            <div class="sz" style="display: none;" id="sz">
                                <div class="sz_one">

                                </div>
                                <div class="sz_two">
                                    <ul>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">线索</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;"> 联系人</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">客户</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">交易</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">产品</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                        <li>
                                            <i></i>
                                            <a href="javascript:;">报价</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="rl">
                            <img src="image/4.jpg" alt="" id="img3">
                            <div id="calendar" class="calendar a" style="position: absolute;
                            top: 23px;
                            right: 2px;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="szz">
                            <a href="">
                                <img src="image/5.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="rw">
                            <img src="image/6.jpg" alt="" id="img2">
                            <div class="js" id="js1" style="display: none;">
                                <div class="sz_one">

                                </div>
                                <div class="js_two">
                                    <ul>
                                        <li>
                                            <a href="javascript:;" id="ly">LyYgC LyYgC</a>
                                        </li>
                                        <li>
                                            <span class="sp_one">User Id:679944547</span>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="ly">我的账号</a>
                                        </li>
                                        <li class="li_three"></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <span class="sp_two">订阅</span>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="ly1">
                                                旗舰版本试用版在14天后过期
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="ly1">评估其他版本</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <span class="sp_two">需要帮助吗？</span>
                                        </li>
                                        <li>
                                            <a href="javascript:;" id="ly3">资源</a>
                                        </li>
                                    </ul>
                                    <div class="tc">
                                        <a href="javascript:;" id="ly4">退出</a>
                                    </div>
                                    <div class="js_footer">
                                        <span>可用于</span>
                                        <span class="span3"></span>
                                        <span class="span4"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 头部结束 -->
        <!-- 内容开始 -->
        <div class="content">
            <!-- 内容头部开始 -->
            <div class="content_head">
                <div class="content_head_left">
                    <p>欢迎LyYgC
                        <span>LyYgC</span>
                    </p>
                </div>
                <div class="content_head_right">
                    <div class="right_content_head">

                    </div>
                    <div class="select">
                        <select name="" id="select">
                            <option value="">LyYgC LyYgC主页</option>
                            <option value="">经典视图</option>
                            <option value="">定制主页</option>
                        </select>
                    </div>
                    <div class="right_content_footer" id="dd_one">
                        <div class="dd" id="dd_two">
                            <div class="sz_three">

                            </div>
                            <ul>
                                <li style="width: 48px;height: 20px;">
                                    添加组件
                                </li>
                                <li style="width: 48px;height: 20px;">
                                    重新排列
                                </li>
                                <li style="width: 48px;height: 20px;">
                                    全屏查看
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容头部结束 -->
        <!-- 内容开始 -->
        <div class="middle">
            <div class="middle_head">
                <div class="middle_top_left">
                    <div class="wgb">
                        <p>未关闭任务</p>
                        <span></span>
                        <i></i>
                    </div>
                    <div class="fff">
                        <div class="zt">
                        <ul>
                            <li>
                                <a href="javascript:;" class="zt_one">主题</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dq">到期日期</a>
                            </li>
                            <li>
                                <a href="javascript:;">状态</a>
                            </li>
                            <li>
                                <a href="javascript:;">优先级</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="gl">关联到</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">活动类型</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">活动所有者</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">联系人姓名</a>
                            </li>
                        </ul>
                    </div>
                     <div class="wgbrw" id="wgbrw-o">
                      <!--   <ul>
                            <li>
                                <a href="javascript:;" class="zt_one">注册即将到来的CRM网络研讨会</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dq">2018-12-05</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dq">未启动</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="ddd">低</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jx">吉祥如意餐饮</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">任务</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">LyYgC LyYgC</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">欣然 王</a>
                            </li>
                        </ul>
 -->                    </div>
                    </div>
                    
                </div>
                <div class="middle_top_right">
                    <div class="wgb">
                        <p>今日线索</p>
                        <span></span>
                        <i></i>
                    </div>
                </div>
            </div>
            <div class="middle_center">
                <div class="wgb">
                    <p>金融-阶段</p>
                    <span></span>
                    <i></i>
                </div>
                <div class="je">

                </div>
            </div>
            <div class="middle_footer">
                <div class="middle_top_left">
                    <div class="wgb">
                        <p>未关闭任务</p>
                        <span></span>
                        <i></i>
                    </div>
                    <div class="fff">
                    <div class="zt">
                        <ul>
                            <li>
                                <a href="javascript:;" class="zt_one">主题</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dq">到期日期</a>
                            </li>
                            <li>
                                <a href="javascript:;">状态</a>
                            </li>
                            <li>
                                <a href="javascript:;">优先级</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="gl">关联到</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">活动类型</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">活动所有者</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">联系人姓名</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wgbrw" id="wgbrw-p">
                       <!--  <ul>
                            <li>
                                <a href="javascript:;" class="zt_one">注册即将到来的CRM网络研讨会</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dq">2018-12-05</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dq">未启动</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="ddd">低</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jx">吉祥如意餐饮</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">任务</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">LyYgC LyYgC</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="lxr">欣然 王</a>
                            </li>
                        </ul> -->
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- 内容结束 -->
    </div>
    <!-- 内容结束 -->
    <!-- 尾部开始 -->
    <div class="footer">
        <div class="footer_left" id="foot">
            <img src="image/7.jpg" alt="" class="img1">
            <img src="image/8.jpg" alt="">
            <div id="tan" style="display:none;">
                <div class="menu_header">
                    <i class="tou"></i>
                    <div class="ming clearfix">
                        <span>LyYgC</span>
                        <span id="suo">—</span>
                    </div>
                    <div class="suo clearfix">
                        <input type="text" value="Available">
                        <span>···</span>
                    </div>
                </div>
                <div class="menu_search">
                    <input type="text" placeholder="Search Contacts & Chats">
                    <i></i>
                </div>
                <div class="menu">
                    <span>The conversations you have with people and teams will appear here.You can click on a Contact or a Channel to participate in a conversation.</span>
                </div>
            </div>
        </div>

        <div class="footer_one">
            <a href="javascript:;">Here is your Smart Chat (Ctrl+Space)</a>
        </div>
        <div class="footer_two">
            <div>
                <img src="image/11.jpg" alt="">
            </div>

        </div>
    </div>
    <!-- 尾部结束 -->
    </div>
</body>

</html>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/html" id="main" >
{{if code == 200}}
{{each data}}
        <ul>
            <li>
                <a href="javascript:;" class="zt_one">{{$value.theme}}</a>
            </li>
            <li>
                <a href="javascript:;" class="dq">{{$value.dateDue}}</a>
            </li>
            <li>
                <a href="javascript:;" class="dq">{{$value.state}}</a>
            </li>
            <li>
                <a href="javascript:;" class="ddd">{{$value.priority}}</a>
            </li>
            <li>
                <a href="javascript:;" class="jx">{{$value.correlation}}</a>
            </li>
            <li>
                <a href="javascript:;" class="lxr">{{$value.type}}</a>
            </li>
            <li>
                <a href="javascript:;" class="lxr">{{$value.possessor}}</a>
            </li>
            <li>
                <a href="javascript:;" class="lxr">{{$value.attn}}</a>
            </li>
        </ul>
{{/each}}
{{/if}}
</script>
<script type="text/html" id="maim" >
{{if code == 200}}
{{each data}}
        <ul>
            <li>
                <a href="javascript:;" class="zt_one">{{$value.theme}}</a>
            </li>
            <li>
                <a href="javascript:;" class="dq">{{$value.dateDue}}</a>
            </li>
            <li>
                <a href="javascript:;" class="dq">{{$value.state}}</a>
            </li>
            <li>
                <a href="javascript:;" class="ddd">{{$value.priority}}</a>
            </li>
            <li>
                <a href="javascript:;" class="jx">{{$value.correlation}}</a>
            </li>
            <li>
                <a href="javascript:;" class="lxr">{{$value.type}}</a>
            </li>
            <li>
                <a href="javascript:;" class="lxr">{{$value.possessor}}</a>
            </li>
            <li>
                <a href="javascript:;" class="lxr">{{$value.attn}}</a>
            </li>
        </ul>
{{/each}}
{{/if}}
</script>
<script src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/index.js"></script>
<script>
    d1.onclick = function () {
        if (d2.style.display == 'none') {
            d2.style.display = "block";
        } else if (d2.style.display == 'block') {
            d2.style.display = "none";
        }
    }
    var tan = document.getElementById("tan");
    var suo = document.getElementById("suo");
    var foot = document.getElementById("foot");
    foot.onclick = function(){
        if(tan.style.display == "none"){
            tan.style.display = "block";
        }else if(tan.style.display == "block"){
            tan.style.display = "none";
        }
    }
    $(function () {
        $.ajax({
            url: 'api.php',
            type: "POST",
            dataType: "json",
            data: {
                "action": "1712b_one",
            },
            success: function (data) {
                console.log(data);
                var html = template("main", data);
                var htmlf = template("maim", data);
                $("#wgbrw-p").html(html);
                $("#wgbrw-o").html(htmlf);

            }
        });
    })
</script>